*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
  }
  .container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
  background:linear-gradient(skyblue,violet);
  }
  .title{
    width: 100%;
    max-width: 540px;
    background-color: aliceblue;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    
  }
  h1{
    margin-bottom: 10px;
  }
  .row{
    display: flex;
    align-items: center;
    
    
    
  }
  
  .input{
    border: none;
    padding: 15px;
    width: 380px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    background-color:blanchedalmond;
    color: black;
    font-weight:14px;
    outline: none;
  }
  button{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    padding: 15px ;
    background-color: darkgoldenrod;
    color: black;
  }
  .data{
    padding-top: 10px;
  }
  